@import "../mixins.scss";

.hero {
  &__container {
    position: absolute;
    left: 7%;
    right: 7%;
    top: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      left: 50%;
      top: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    margin: 0;
    font-size: 9.6rem;
    line-height: 140%;
    color: var(--color-white);

    &-fancy {
      display: block;
      font-weight: 400;
      font-size: 8.8rem;

      @include desktop {
        font-size: 6.5rem;
      }

      @include table-small {
        font-size: 5.5rem;
      }

      @include mobile-mid {
        margin-bottom: var(--small-offset);
        font-size: 5rem;
        text-align: center;
      }

      @include mobile-small {
        font-size: 3.5rem;
      }
    }

    @include desktop {
      font-size: 7.3rem;
    }

    @include table-small {
      font-size: 6.3rem;
    }

    @include mobile-mid {
      text-align: center;
    }
  }

  @include desktop {
    height: 100vh;
  }
}

.scroll-down {
  margin-top: 12.5rem;

  &__link {
    display: flex;
    align-items: center;
    font: var(--semi-font);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      color: var(--color-orange);
    }
  }

  &__icon {
    display: inline-block;
    margin-left: 1rem;
    width: 1.6rem;
    height: 2.4rem;
    transition: all 0.3s ease-in-out;
    animation: arrow 0.5s linear 0s infinite alternate;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--color-white);
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }
  }

  @include mobile {
    margin-top: 9rem;
  }

  @include mobile-mid {
    margin-top: 7rem;
  }
}

.scroll-down__link:hover .scroll-down__icon {
  transform: translate(0, 2px);
}

.scroll-down__link:hover .scroll-down__icon svg {
  fill: var(--color-orange);
}

@keyframes arrow {
  0% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(0px, -2px);
  }
}
