.socials {
  &__title {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--semi-font);
    writing-mode: vertical-rl;

    @include mobile-mid {
      margin-right: var(--small-md-offset);
      margin-bottom: 0;
      writing-mode: inherit;
    }
  }

  &__list {
    @include mobile-mid {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: var(--second-offset);
    }

    @include mobile-mid {
      &--mr {
        &:not(:last-child) {
          margin-right: var(--small-md-offset);
          margin-bottom: 0;
        }
      }
    }
  }

  &__link {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 1;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--color-white);
      object-fit: cover;
      transition: all 0.3s ease-in-out;

      &:hover {
        fill: var(--color-orange);
        opacity: 0.7;
      }
    }
  }

  &--absolute {
    position: absolute;
    left: 0;
    top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include table-small {
      top: 0;
    }

    @include mobile-mid {
      position: static;
    }
  }
}

.hero__socials {
  display: flex;
  align-items: center;

  @include mobile-mid {
    flex-direction: row;
  }
}
