<footer class="footer">
  <div class="container">
    <div class="start">
      <h2 class="start__title">QWERy</h2>
      <div class="start__right">
        <h4 class="start__desc">Ready to explore?</h4>
        <button class="btn-reset start__btn">Get started</button>
      </div>
    </div>
    <div class="footer__mid">
      <div class="subscribe">
        <h3 class="subscribe__title">
          Let&rsquo;s go&nbsp;on&nbsp;vacation, Make&nbsp;your day
        </h3>
        <form action="#" class="subscribe__form">
          <input
            type="text"
            class="subscribe__input"
            placeholder="Email address"
          />
          <button class="btn-reset subscribe__btn">
            <img src="../img/button-arrow.svg" alt="Subscribe: button" />
          </button>
        </form>
      </div>
      <div class="menu menu--services">
        <h4 class="menu__title">Services</h4>
        <ul class="menu__list list-reset">
          <li class="menu__item">
            <a href="#" class="menu__link">Email Marketing</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Campaigns</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Branding</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Offline</a>
          </li>
        </ul>
      </div>
      <div class="menu menu--about">
        <h4 class="menu__title">About</h4>
        <ul class="menu__list list-reset">
          <li class="menu__item">
            <a href="#" class="menu__link">Our Story</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Benefits</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Team</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Careers</a>
          </li>
        </ul>
      </div>
      <div class="menu">
        <h4 class="menu__title">Help</h4>
        <ul class="menu__list list-reset">
          <li class="menu__item">
            <a href="#" class="menu__link">FAQs</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="socials footer__socials">
      <a href="#" class="footer__socials-span">Terms &amp;&nbsp;Conditions</a>
      <a href="#" class="footer__socials-span">Privacy Policy</a>
      <ul class="socials__list list-reset footer__socials-list">
        <li class="socials__item footer__socials-item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item footer__socials-item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item footer__socials-item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
