<section class="gallery" id="about">
  <div class="container gallery__container">
      <div class="swiper gallery__swiper">
        <div class="swiper-wrapper gallery__swiper-wrapper">
          <div class="swiper-slide gallery__swiper-slide">
            <img class="gallery__swiper-img" src="../img/slide.jpg" alt="">
            <div class="gallery__swiper-content--gradient"></div>
            <div class="gallery__swiper-content">
              
              <div class="section-summary section-summary--slide">bromo</div>
              <h2 class="section-title section-title--slide">Steady your steps, we will climb together!</h2>
              <p class="gallery__swiper-text">
                Enjoying the vast expanse of&nbsp;the sea of ​​​​sand, witnessing the splendor of&nbsp;Mount Semeru that soars into the sky, and gazing at&nbsp;the beauty of&nbsp;the sun moving out of&nbsp;its bed or&nbsp;otherwise enjoying the dim twilight from the Bromo ridge is&nbsp;an&nbsp;unforgettable experience when visiting Bromo.
              </p>
              <a href="#" class="read-more">
                ream more
                <div class="read-more__icon">
                  <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-slide gallery__swiper-slide">
            <img class="gallery__swiper-img" src="../img/slide.jpg" alt="">
            <div class="gallery__swiper-content--gradient"></div>
            <div class="gallery__swiper-content">
              
              <div class="section-summary section-summary--slide">bromo</div>
              <h2 class="section-title section-title--slide">Steady your steps, we will climb together!</h2>
              <p class="gallery__swiper-text">
                Enjoying the vast expanse of&nbsp;the sea of ​​​​sand, witnessing the splendor of&nbsp;Mount Semeru that soars into the sky, and gazing at&nbsp;the beauty of&nbsp;the sun moving out of&nbsp;its bed or&nbsp;otherwise enjoying the dim twilight from the Bromo ridge is&nbsp;an&nbsp;unforgettable experience when visiting Bromo.
              </p>
              <a href="#" class="read-more">
                ream more
                <div class="read-more__icon">
                  <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </div>
              </a>
            </div>
            
          </div>
          <div class="swiper-slide gallery__swiper-slide">
            <img class="gallery__swiper-img" src="../img/slide.jpg" alt="">
            <div class="gallery__swiper-content--gradient"></div>
            <div class="gallery__swiper-content">
              
              <div class="section-summary section-summary--slide">bromo</div>
              <h2 class="section-title section-title--slide">Steady your steps, we will climb together!</h2>
              <p class="gallery__swiper-text">
                Enjoying the vast expanse of&nbsp;the sea of ​​​​sand, witnessing the splendor of&nbsp;Mount Semeru that soars into the sky, and gazing at&nbsp;the beauty of&nbsp;the sun moving out of&nbsp;its bed or&nbsp;otherwise enjoying the dim twilight from the Bromo ridge is&nbsp;an&nbsp;unforgettable experience when visiting Bromo.
              </p>
              <a href="#" class="read-more">
                ream more
                <div class="read-more__icon">
                  <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </div>
              </a>
            </div>
            
          </div>
          <div class="swiper-slide gallery__swiper-slide">
            <img class="gallery__swiper-img" src="../img/slide.jpg" alt="">
            <div class="gallery__swiper-content--gradient"></div>
            <div class="gallery__swiper-content">
              
              <div class="section-summary section-summary--slide">bromo</div>
              <h2 class="section-title section-title--slide">Steady your steps, we will climb together!</h2>
              <p class="gallery__swiper-text">
                Enjoying the vast expanse of&nbsp;the sea of ​​​​sand, witnessing the splendor of&nbsp;Mount Semeru that soars into the sky, and gazing at&nbsp;the beauty of&nbsp;the sun moving out of&nbsp;its bed or&nbsp;otherwise enjoying the dim twilight from the Bromo ridge is&nbsp;an&nbsp;unforgettable experience when visiting Bromo.
              </p>
              <a href="#" class="read-more">
                ream more
                <div class="read-more__icon">
                  <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </div>
              </a>
            </div>
            
          </div>
        </div>
        <div class="swiper-button-next gallery__swiper-next"></div>
        <div class="swiper-button-prev gallery__swiper-prev"></div>
      </div>
    
    </div>
  </div>
</section>
