<div class="cover-space"></div>
<header class="header">
  <a href="#" class="logo">
    <span class="logo__title">QWERy</span>
  </a>
  <nav class="header-nav">
    <ul class="header-nav__list list-reset">
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Information</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">About us</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Culture</a>
      </li>
    </ul>
  </nav>
  <label class="header-search">
    <div class="header-search__icon">
      <svg>
        <use xlink:href="img/sprite.svg#search-loop"></use>
      </svg>
    </div>
    <input type="text" class="header-search__form" placeholder="Search" />
  </label>
</header>
