<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <div class="section-summary">explore the Nature Beauty</div>
      <h1 class="hero__title">
        Discover<span class="hero__title-fancy">Wonderful Indonesia</span>
      </h1>
    </div>
    <div class="socials">
      <h2 class="socials__title">Follow&nbsp;us</h2>
      <ul class="socials__list list-reset">
        <li class="socials__item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="scroll-down">
      <a href="#" class="scroll-down__link">
        Scroll down
        <div class="scroll-down__icon">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-down"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
