<section class="holiday" id="info">
  <div class="container holiday__container">
    <div class="holiday__left">
      <img
        src="../img/card1.jpg"
        class="holiday__left-img"
        alt="Holiday: image"
      />
    </div>
    <div class="holiday__right">
      <div class="section-summary">EAST nUSA TENGGARA</div>
      <h2 class="section-title">Have you enjoyed&nbsp;your holiday?</h2>
      <p class="holiday__text">
        You will be&nbsp;amazed if&nbsp;you take part in&nbsp;this sailing
        Komodo island tour package. So&nbsp;it&nbsp;is&nbsp;also mandatory for
        you, besides enjoying Komodo tourism on&nbsp;Komodo Island, you also
        have to&nbsp;taste the marine tourism. The beautiful waters
        of&nbsp;Komodo will make you meet many travelers from other countries.
      </p>
      <a href="#" class="read-more">
        ream more
        <div class="read-more__icon">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
