@import "./mixins";

html {
  box-sizing: border-box;
  font-size: 10px;

  @include mobile-small {
    font-size: 9px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: var(--color-white);
  background: var(--color-black) url("../img/header-bg1.jpg") no-repeat center
    top;
  background-size: 100% auto;

  @include desktop {
    background-size: 100% 100vh;
  }

  @include mobile-small {
    font-size: 9px;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1490px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.cover-space {
  position: relative;
  padding-bottom: 82%;

  @include desktop {
    padding-bottom: 0;
  }
}

.section-summary {
  display: flex;
  align-items: center;
  margin-bottom: var(--main-offset);
  font: var(--low-bold);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--color-gold);

  &::before {
    content: "";
    display: block;
    margin-right: var(--main-offset);
    width: 7rem;
    height: 0.2rem;
    background-color: var(--color-gold);

    @include mobile-mid {
      margin-right: var(--second-offset);
      width: 5.5rem;
    }
  }

  @include tablet {
    margin-bottom: var(--second-offset);
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
  }

  @include table-small {
    justify-content: center;
    margin-bottom: var(--small-offset);
  }

  @include mobile-mid {
    letter-spacing: 0.3rem;
  }

  @include mobile-small {
    letter-spacing: normal;
  }
}

.section-title {
  margin: 0;
  margin-bottom: var(--main-offset);
  font: var(--title-bold);

  @include tablet {
    font-size: 5rem;
  }

  @include table-small {
    text-align: center;
  }

  @include mobile-mid {
    font-size: 4rem;
  }
}
